<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldh.modules.inventory.mapper.InventoryCategoryMapper">

    <select id="list" resultType="com.ldh.modules.inventory.model.InventoryCategoryModel">
        select ic.*
        from inventory_category ic
        where 1=1
        <if test="inventoryCategory.fatherId != null and inventoryCategory.fatherId != ''">
            and ic.father_id = #{inventoryCategory.fatherId}
        </if>
        <if test="inventoryCategory.cateName != null and inventoryCategory.cateName != ''">
            and ic.cate_name like concat('%',#{inventoryCategory.cateName},'%')
        </if>
        ${queryWrapper.customSqlSegment}
    </select>

    <select id="getAllOption" resultType="common.OptionModel">
        select ic.id as 'key',
        ic.id as 'title',
        ic.cate_name as 'value'
        from inventory_category ic
        where 1=1
        <choose>
            <when test="fatherId != null and fatherId != ''">
                and ic.father_id = #{fatherId}
            </when>
            <otherwise>
                and ic.father_id = '-1'
            </otherwise>
        </choose>
    </select>

    <select id="getOptionByFatherId" resultType="common.OptionModel">
        select ic.id        as 'key',
               ic.id        as 'title',
               ic.cate_name as 'value'
        from inventory_category ic
        where 1 = 1
          and ic.father_id = #{fatherId}
          and ic.cate_name != '不限'
    </select>

    <select id="getAllCategory" resultType="com.ldh.modules.inventory.model.InventoryCategoryModel">
        select ic.*
        from inventory_category ic
        where 1 = 1
        and ic.cate_name != '不限'
    </select>

    <select id="getFatherCategoryIdsByInventoryId" resultType="string">
        select group_concat(ica.inventory_category_father_id)
        from inventory_category_associate ica
        where 1 = 1
          and ica.inventory_id = #{inventoryId}
        group by ica.inventory_id
    </select>

    <select id="getAllOptionSF" resultType="common.OptionModel">
        select ic.id        as 'key',
               ic.id        as 'title',
               ic.cate_name as 'value'
        from inventory_category ic
        where 1 = 1
    </select>

    <delete id="deleteByFatherId">
        delete
        from inventory_category
        where 1=1
        and father_id = #{fatherId}
    </delete>

    <select id="countByFatherId" resultType="integer">
        select count(0)
        from inventory_category
        where 1 = 1
          and father_id = #{categoryId}
    </select>

    <select id="getAllById" resultType="com.ldh.modules.inventory.model.InventoryCategoryModel">
        select ic.*,
               icf.cate_name as 'fatherName'
        from inventory_category ic
        LEFT JOIN inventory_category icf on ic.father_id = icf.id
        where 1=1
        and ic.id = #{id}
    </select>
</mapper>