<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldh.modules.inventory.mapper.InventoryCategoryMapper">

    <select id="list" resultType="com.ldh.modules.inventory.model.InventoryCategoryModel">
        select ic.*
        from inventory_category ic
        where 1=1
        <if test="inventoryCategory.cateName != null and inventoryCategory.cateName != ''">
            and ic.cate_name like concat('%',#{inventoryCategory.cateName},'%')
        </if>
        ${queryWrapper.customSqlSegment}
    </select>

</mapper>