<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldh.modules.inventory.mapper.InventoryMapper">

    <select id="list" resultType="com.ldh.modules.inventory.model.InventoryModel">
        select i.*,
        m.merchant_name
        from inventory i
        LEFT JOIN merchant m on i.merchant_id = m.merchant_id
        where 1=1
        <if test="inventory.inventoryName != null and inventory.inventoryName != ''">
            and inventory_name like concat('%',#{inventory.inventoryName},'%')
        </if>
        ${queryWrapper.customSqlSegment}
    </select>

    <select id="listToClient" resultType="com.ldh.modules.inventory.model.InventoryClientModel">
        select distinct i.*,
        m.merchant_name as 'merchantName',
        m.img_path as 'merchantImgPath',
        i.id as 'key',
        i.inventory_name as 'title',
        i.inventory_information as 'content',
        group_concat(ica.inventory_category_id) as 'inventoryCategory',
        group_concat(ica.inventory_category_father_id) as 'inventoryCategoryFather'
        from inventory i
        LEFT JOIN inventory_category_associate ica on ica.inventory_id = i.id
        LEFT JOIN merchant m on i.merchant_id = m.merchant_id
        where 1=1
        and i.sts != '-1'
        <if test="inventory.merchantId != null and inventory.merchantId != ''">
            and i.merchant_id = #{inventory.merchantId}
        </if>
        <if test="inventory.inventoryName != null and inventory.inventoryName != ''">
            and i.inventory_name like concat('%',#{inventory.inventoryName},'%')
        </if>
        group by i.id
    </select>

    <select id="getRecommendList" resultType="com.ldh.modules.inventory.model.InventoryRecommendModel">
        SELECT i.*,
               m.merchant_name            AS 'merchantName',
               SUM(spt.preferences_value) as 'preferencesSum'
        FROM inventory i
                 LEFT JOIN merchant m ON i.merchant_id = m.merchant_id
                 LEFT JOIN inventory_category_associate ica on ica.inventory_id = i.id
                 LEFT JOIN shop_preferences_type spt on spt.inventory_type_id = ica.inventory_category_father_id
        WHERE 1 = 1
          AND i.sts != '-1'
          AND m.sts = '2'
          AND spt.user_id = #{userId}
        GROUP BY i.id
        ORDER BY preferencesSum DESC
    </select>

    <select id="selectByIdAll" resultType="com.ldh.modules.inventory.model.InventoryClientModel">
        select i.*,
               m.merchant_name                         as 'merchantName',
               m.img_path                              as 'merchantImgPath',
               group_concat(ica.inventory_category_id) as 'inventoryCategory',
               group_concat(ica.inventory_category_father_id) as 'inventoryCategoryFather'
        from inventory i
                 LEFT JOIN merchant m on i.merchant_id = m.merchant_id
                 LEFT JOIN inventory_category_associate ica on ica.inventory_id = i.id
        where 1 = 1
          and i.id = #{id}
    </select>

    <select id="selectByIds" resultType="com.ldh.modules.inventory.entity.Inventory">
        select i.*
        from inventory i
        where 1=1
        and i.id in
        <foreach collection="ids" item="item" separator="," close=")" open="(">
            #{item}
        </foreach>
    </select>

    <select id="listToClientByMerchant" resultType="com.ldh.modules.inventory.model.InventoryMerchantModel">
        select i.*
        from inventory i
        where 1 = 1
          and i.sts != '-1'
          and i.merchant_id = #{inventory.merchantId}
    </select>

    <select id="listToClientByCategory" resultType="com.ldh.modules.inventory.model.InventoryCategoryClientModel">
        SELECT i.*
        FROM inventory i
                 LEFT JOIN inventory_category_associate ica on ica.inventory_id = i.id
                 LEFT JOIN inventory_category ic on ic.id = ica.inventory_category_id
        WHERE 1 = 1
          and i.sts != '-1'
          AND ic.id = #{categoryId}
    </select>

    <select id="getSearchLimit" resultType="com.ldh.modules.inventory.model.AutoSearchResponse">
        select i.inventory_name as 'responseEntity'
        from inventory i
        where 1=1
        and i.sts != '-1'
        <choose>
            <when test="str != null and str != ''">
                and i.inventory_name like concat('%',#{str},'%')
                limit 0,#{num}
            </when>
            <otherwise>
                order by rand()
                limit #{num}
            </otherwise>
        </choose>
    </select>

    <select id="getRandInventory" resultType="com.ldh.modules.inventory.model.InventoryRecommendModel">
        select i.*,
               m.merchant_name as 'merchantName'
        FROM inventory i
              LEFT JOIN merchant m ON i.merchant_id = m.merchant_id
        WHERE 1 = 1
          AND i.sts != '-1'
          AND m.sts = '2'
        order by rand()
    </select>
</mapper>