<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldh.modules.inventory.mapper.InventoryMapper">

    <select id="list" resultType="com.ldh.modules.inventory.model.InventoryModel">
        select *
        from inventory
        where 1=1
        <if test="inventory.inventoryName != null and inventory.inventoryName != ''">
            and inventory_name like concat('%',#{inventory.inventoryName},'%')
        </if>
        ${queryWrapper.customSqlSegment}
    </select>
</mapper>