<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldh.modules.authority.mapper.AuthorityInformationMapper">

    <select id="list" resultType="com.ldh.modules.authority.model.AuthorityInformationModel">
        select ai.*,
               sdi.item_value as 'stsName'
        from authority_information ai
        LEFT JOIN sys_dict_item sdi on sdi.item_key = ai.sts
        LEFT JOIN sys_dict sd on sdi.sys_dict_id = sd.id
        where 1=1
          and sd.dict_no = 'user_state'
        <if test="authorityInformation.authorityUsername != null and authorityInformation.authorityUsername != ''">
            and ai.authority_username like concat('%',#{authorityInformation.authorityUsername},'%')
        </if>
        <if test="authorityInformation.authorityName != null and authorityInformation.authorityName != ''">
            and ai.authority_name like concat('%',#{authorityInformation.authorityName},'%')
        </if>
        ${queryWrapper.customSqlSegment}
    </select>
    <select id="countUserName" resultType="integer">
        select count(*) from authority_information
        where 1=1
         and authority_username = #{authorityUsername}
         <if test="authorityId != null and authorityId != ''">
             and authority_id != #{authorityId}
         </if>
    </select>
    <select id="findByUserName" resultType="com.ldh.modules.authority.model.AuthorityInformationModel">
        select ai.*,
               GROUP_CONCAT(sr.role_no) as 'roleNos'
        from authority_information ai
         LEFT JOIN authority_role_information ari ON ari.authority_id = ai.authority_id
         LEFT JOIN sys_role sr ON ari.sys_role_id = sr.id
        where 1=1
        and ai.sts != '-1'
        and ai.authority_username = #{username}
        GROUP BY ai.authority_id
    </select>

    <select id="selectByIds" resultType="com.ldh.modules.authority.model.AuthorityInformationModel">
        select ai.*
        from authority_information ai
        where 1=1
        and ai.authority_id in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
          #{item}
        </foreach>

    </select>
</mapper>