<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldh.modules.authority.mapper.SysRoleMapper">
    <select id="list" resultType="com.ldh.modules.authority.entity.SysRole">
        select * from sys_role where 1=1
        <if test="sysRole.roleName !=null and sysRole.roleName != ''">
            and role_name like concat('%',#{sysRole.roleName},'%')
        </if>
        ${queryWrapper.customSqlSegment}
    </select>

    <select id="getAllOption" resultType="common.OptionModel">
        select sr.role_name as 'value',
               sr.role_name as 'title',
               sr.id as 'key'
        from sys_role sr where 1=1
    </select>

    <select id="countByNo" resultType="integer">
        select count(*)
        from sys_role sr
        where 1=1
        and sr.role_no = #{sysRole.roleNo}
        <if test="sysRole.id != null and sysRole.id != ''">
            and sr.id != #{sysRole.id}
        </if>
    </select>

    <select id="countRoleByUserIdAndRoleNo" resultType="integer">
        select count(*)
        from sys_role sr
        LEFT JOIN authority_role_information ari on sr.id = ari.sys_role_id
        where 1=1
        and ari.authority_id = #{userId}
        and sr.role_no = #{roleNo}
    </select>

    <select id="countRoleByUserIdAndRoleList" resultType="integer">
        select count(*)
        from sys_role sr
        LEFT JOIN authority_role_information ari on sr.id = ari.sys_role_id
        where 1=1
          and ari.authority_id = #{userId}
          and (
        <foreach item="item" collection="roleNoList" open="" separator="OR">
            sr.role_no = #{item}
        </foreach>
            )

    </select>

    <select id="selectByRoleNo"  resultType="com.ldh.modules.authority.entity.SysRole">
        select * from sys_role where 1=1 and role_no = #{roleNo}
    </select>
</mapper>