<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldh.modules.authority.mapper.SysRoleMapper">
    <select id="list" resultType="com.ldh.modules.authority.entity.SysRole">
        select * from sys_role where 1=1
        <if test="sysRole.roleName !=null and sysRole.roleName != ''">
            and role_name like concat('%',#{sysRole.roleName},'%')
        </if>
        ${queryWrapper.customSqlSegment}
    </select>
</mapper>