<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldh.modules.upload.mapper.ImageNoteMapper">

    <select id="getListByGroupAndObjectId" resultType="common.InitUploadModel">
        select inn.id as 'uid',
               inn.img_name as 'name',
               inn.img_path as 'url',
               inn.sort
        from image_note inn
        where 1=1
        and img_group = #{imageNote.imgGroup}
        and object_id = #{imageNote.objectId}
        ORDER BY inn.sort ASC
    </select>

    <select id="getByObjectIdAndImgGroup" resultType="com.ldh.modules.upload.model.ImageNoteModel">
        select inn.*
        from image_note inn
        where 1=1
        and inn.img_group = #{imageGetVO.imgGroup}
        and inn.object_id = #{imageGetVO.objectId}
        <if test="imageGetVO.sort != null and imageGetVO.sort != ''">
            order by inn.sort = #{imageGetVO.sort} asc
        </if>
    </select>

    <select id="getByObjectIdAndImgGroupList" resultType="com.ldh.modules.upload.model.ImageNoteModel">
        select inn.*
        from image_note inn
        where 1=1
        and inn.img_group = #{imageGetVO.imgGroup}
        and inn.object_id in
        <foreach collection="imageGetVO.objectId" item="item" separator="," open="(" close=")">
          #{item}
        </foreach>
        ORDER BY inn.sort ASC
    </select>
</mapper>