<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldh.modules.order.mapper.OrderInformationMapper">

    <select id="list" resultType="com.ldh.modules.order.model.OrderInformationModel">
      select oi.*
      from order_information oi
      where 1=1
      <if test="orderInformation.createBy != null and orderInformation.createBy != ''">
          and oi.create_by = #{orderInformation.createBy}
      </if>
      <if test="orderInformation.merchantId != null and orderInformation.merchantId != ''">
          and oi.merchant_id = #{orderInformation.merchantId}
      </if>
      <if test="orderInformation.sts != null and orderInformation.sts != ''">
          and oi.sts = #{orderInformation.sts}
      </if>
      <if test="orderInformation.orderCode != null and orderInformation.orderCode != ''">
          and oi.order_code = #{orderInformation.orderCode}
      </if>
      ${queryWrapper.customSqlSegment}
    </select>

    <select id="getPhyDetail" resultType="com.ldh.modules.order.model.PhysicalDetailModel">
        select oi.order_id as 'orderId',
               opd.order_physical_distribution_id as 'orderPhysicalDistributionId',
               opd.start_position_detail as 'startPositionName',
               opd.end_position_detail as 'endPositionName',
               oi.sts as 'orderSts',
               opd.sts as 'PhySts',
               c.courier_phone as 'courierPhone',
               c.courier_name as 'courierName',
               csc.courier_services_company_name as 'courierServicesName'
        from order_information oi
        LEFT JOIN order_physical_distribution opd on opd.order_id = oi.order_id
        LEFT JOIN courier c on opd.courier_id = c.courier_id
        LEFT JOIN courier_services_company csc on csc.courier_services_company_id = c.courier_services_company_id
        where 1=1
        and oi.order_id = #{orderId}

    </select>
</mapper>