<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldh.modules.informationMaintenance.mapper.PhysicalDistributionMapper">

    <select id="list" resultType="com.ldh.modules.informationMaintenance.model.PhysicalDistributionModel">
        select *
        from physical_distribution pd
        where 1=1
        <if test="physicalDistribution.orderPhysicalDistributionId != null and physicalDistribution.orderPhysicalDistributionId != ''">
            and pd.order_physical_distribution_id = #{physicalDistribution.orderPhysicalDistributionId}
        </if>
        ${queryWrapper.customSqlSegment}
    </select>

    <select id="getByOrderPhysicalId" resultType="com.ldh.modules.informationMaintenance.entity.PhysicalDistribution">
        select *
        from physical_distribution pd
        where 1=1
        and pd.order_physical_distribution_id = #{id}
        order by create_time asc
    </select>
</mapper>