<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldh.modules.sys.mapper.SysDictItemMapper">

    <select id="countByItemKey" resultType="integer">
        select count(*)
        from sys_dict_item
        where 1=1
        and item_key = #{item.itemKey}
        and sys_dict_id = #{item.sysDictId}
        <if test="item.id != null and item.id != ''">
          and id != #{item.id}
        </if>
    </select>

    <select id="list" resultType="com.ldh.modules.sys.entity.SysDictItem">
        select * from sys_dict_item where 1=1
        and sys_dict_id = #{dictId}
        ${queryWrapper.customSqlSegment}
    </select>

    <delete id="deleteByDictId">
        delete from sys_dict_item where 1=1
        and sys_dict_id = #{dictId}
    </delete>

    <select id="getItemValueBydictNoAndItemKey" resultType="string">
        select sdi.item_value from sys_dict_item sdi
        left join sys_dict sd on sdi.sys_dict_id = sd.id
        where 1=1
        and sdi.item_key = #{itemKey}
        and sd.dict_no = #{dictNo}
    </select>

    <select id="getOptionByDictNo" resultType="common.OptionModel">
        select sdi.item_key as 'key',
               sdi.item_value as 'value',
               sdi.item_value as 'title'
        from sys_dict_item sdi
        left join sys_dict sd on sd.id = sdi.sys_dict_id
        where sd.dict_no = #{dictNo}
    </select>
</mapper>